.about {
  padding-bottom: between(50px, 100px);

  &__img {
    @include imageSet("../img/about", "jpeg");

    height: between(393px, 524px);
    margin-bottom: between(50px, 100px);
    background-position: center;
    background-size: cover;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: $breakpoint768) {
      grid-template-columns: repeat(3, 1fr);
    };
  }

  &__desc {
    padding: 0 20px;
    color: var(--primaryColor);
    font-size: between(16px, 25px);
    grid-column: 2 / span 2;
    letter-spacing: -0.625px;
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint768) {
      grid-column: 1 / span 2;
    };
  }

  &__addDesc {
    padding: 0 35px;
    color: var(--primaryColor);
    font-size: between(16px, 20px);
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 103.523%; /* 20.705px */

    @media screen and (max-width: $breakpoint768) {
      padding: 0 15px;
    };
  }
}
