.achievements {
  padding: 200px 0 220px;

  &__list {
    @include flexVStart;

    gap: 100px 0;
  }

  &__item {
    color: $primaryColor;
    font-size: 125px;
    letter-spacing: -6.875px;
    line-height: 92%; /* 115px */
    text-transform: uppercase;

    span {
      display: inline-block;
      width: 300px;
      font-style: italic;
      font-weight: 200;
    }
  }
}
