.clients {
  padding-top: 200px;

  &__content {
    padding: 200px 0;
    background-color: var(--thirdColor);
  }

  &__title {
    border: none;
    color: var(--fourthColor);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 200px;
  }

  &__item {
    color: var(--fourthColor);
    font-size: 50px;
    letter-spacing: -2.75px;
    line-height: normal;
    text-transform: uppercase;

    &:nth-child(3n-1) {
      margin: 0 auto;
    }
  }
}
