.clients {
  padding-top: between(100px, 200px);

  &__content {
    padding: between(100px, 200px) 0;
    background-color: var(--thirdColor);
  }

  &__title {
    border: none;
    color: var(--fourthColor);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px between(30px, 200px);

    @media screen and (max-width: $breakpoint480) {
      justify-content: space-evenly;
    };
  }

  &__item {
    color: var(--fourthColor);
    font-size: between(25px, 50px);
    letter-spacing: -2.75px;
    line-height: normal;
    text-transform: uppercase;

    &:nth-child(3n-1) {
      margin: 0 auto;

      @media screen and (max-width: $breakpoint480) {
        margin: unset;
      };
    }
  }
}
