.form {
  padding-bottom: between(100px, 200px);

  &__content {
    position: relative;
    height: between(456px, 760px, $breakpoint768);
    background-color: var(--primaryColor);

    @media screen and (max-width: $breakpoint768) {
      height: auto;
    };
  }

  &__content-container {
    height: 100%;
  }

  &__bgcImg {
    @include imageSet("../img/form", "png");

    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: $breakpoint768) {
      display: none;
      background-image: none;
    };
  }

  &__form {
    display: flex;
    max-width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: between(50px, 115px, $breakpoint768) 60px between(50px, 115px, $breakpoint768) 0;
    gap: 20px 0;

    @media screen and (max-width: $breakpoint768) {
      max-width: 100%;
      padding: 50px;
    };

    button {
      margin-top: auto;

      @media screen and (max-width: $breakpoint768) {
        margin-top: 50px;
      };
    }
  }

  &__naming {
    color: white;
    font-size: between(25px, 45px, $breakpoint768);
    font-weight: 600;
    letter-spacing: -1.25px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint768) {
      font-size: between(25px, 45px, $breakpoint480, $breakpoint768);
    };
  }

  &__input-wrapper {
    position: relative;

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      font-size: 18px;
      font-weight: 200;

      @media screen and (max-width: $breakpoint768) {
        font-size: 15px;
      };
    }
  }

  &__input {
    @include resetInput;

    width: 100%;
    height: between(50px, 80px, $breakpoint768);
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 30px;
    outline: none;

    @media screen and (max-width: $breakpoint768) {
      height: between(50px, 80px, $breakpoint480, $breakpoint768);
    };
  }
}

.form__input:focus ~ span {
  display: none;
}
