.header {
  padding-block: 30px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    position: relative;

    a {
      position: absolute;
      inset: 0;
    }
  }
}

a[data-contact] {
  @media screen and (max-width: $burgerBreakPoint) {
    display: none;
  };
}
