.hero {
  padding-bottom: between(111px, 223px);

  &__content {
    @include imageSet("../img/hero", "jpeg");

    position: relative;
    width: 100%;
    height: between(593px, 742px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: $breakpoint992) {
      background-position: top;
    };
  }

  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-block: between(30px, 60px) between(55px, 110px);
  }

  &__desc {
    max-width: 50%;
    color: var(--primaryColor);
    font-size: between(20px, 30px);
    font-weight: 600;
    letter-spacing: -0.75px;
    line-height: normal;
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint480) {
      max-width: 70%;
    };
  }

  &__btn {
    align-self: center;
  }
}
