.owner {
  padding: 200px 0;
  background-color: $primaryColor;

  &__container {
    display: flex;
    padding: 20px 21px 23px;
    background-color: white;
    gap: 0 20px;
  }

  &__card {
    @include flexVStart;

    position: relative;
    width: 50%;
    height: 897px;
    padding: 20px 28px 0;
    gap: 20px 0;
  }

  &__img {
    position: absolute;
    z-index: 0;
    filter: grayscale(1);
    inset: 0;
    transition-duration: 0.5s;

    &:hover {
      @media (hover: hover) {
        filter: grayscale(0);
      }
    }
  }

  &__name {
    z-index: 1;
    align-self: center;
    margin-top: auto;
    color: $primaryColor;
    font-size: 125px;
    letter-spacing: -7.5px;
    line-height: normal;
    text-transform: uppercase;
  }

  &__desc {
    z-index: 1;
    color: $primaryColor;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.45px;
    line-height: 116.023%; /* 20.884px */
    text-transform: uppercase;
  }

  &__logo {
    z-index: 1;
  }
}

.owner-1 {
  @include imageSet("../img/miranda", "png");
}

.owner-2 {
  @include imageSet("../img/miranda-2", "png");
}
