.process {
  background-color: var(--fourthColor);

  &__title {
    padding-top: 100px;
    border: none;
    color: var(--thirdColor);
  }

  &__list {
    display: grid;
    height: 704px;
    grid-template-rows: repeat(4, 1fr);
  }

  &__item {
    padding-top: 45px;
    border-bottom: 1px solid var(--thirdColor);

    &:first-child {
      border-top: 1px solid var(--thirdColor);
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__step {
    color: var(--thirdColor);
    font-size: 20px;
    letter-spacing: -1.1px;
    line-height: normal;
    text-transform: uppercase;
  }

  &__term {
    padding-left: 16px;
    color: var(--thirdColor);
    font-size: 18px;
    letter-spacing: -0.99px;
    line-height: normal;
    text-transform: lowercase;
  }

  &__desc {
    padding-left: 30px;
    color: var(--thirdColor);
    font-size: 18px;
    grid-column: 3 / span 2;
    letter-spacing: -0.99px;
    line-height: normal;
    text-transform: uppercase;
  }
}
