<section class="about">
  <h2 class="about__title section-heading">about us.</h2>
  <div
    class="about__img"
    area-hidden="true"></div>
  <div class="about__container">
    <p class="about__desc">
      our atelier offers tailoring and repair of all types of clothing, both from light fabrics and
      knitwear, as well as from leather and fur. We are ready to sew to order any thing for an adult
      and a child, exactly following the model you have chosen. We guarantee a perfect fit,
      excellent quality and wearability of products, because in our atelier for tailoring and
      repairing clothes, all orders are first worked out by technologists, and only then transferred
      to the sewing workshop.
    </p>
    <span class="about__addDesc">we are a team of</br> inspired</br> fashion creators</span>
  </div>
</section>
