<nav
      class="nav"
      title=""
      data-menu>
      <ul class="nav__list">
        <li
          class="nav__item"
          data-menu-item>
          <a
            data-target=".about"
            href="#"
            class="nav__link"
            >about</a
          >
        </li>
        <li
          class="nav__item"
          data-menu-item>
          <a
            data-target=".services"
            href="#"
            class="nav__link"
            >services</a
          >
        </li>
        <li
          class="nav__item"
          data-menu-item>
          <a
            data-target=".lookbook"
            href="#"
            class="nav__link"
            >lookbook</a
          >
        </li>
        <li
          class="nav__item"
          data-menu-item>
          <a
            data-target=".process"
            href="#"
            class="nav__link"
            >process</a
          >
        </li>
        <li
          class="nav__item"
          data-menu-item>
          <a
            data-target=".collections"
            href="#"
            class="nav__link"
            >collections</a
          >
        </li>
        <li
          class="nav__item"
          data-menu-item>
          <a
            data-target=".footer"
            href="#"
            class="nav__link"
            >contact</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="burger"
      aria-label="Open menu"
      aria-expanded="false"
      data-burger>
      <div class="burger__icon"></div>
    </button>
