<section class="clients">
  <div class="clients__content">
    <div class="clients__container">
      <h2 class="clients__title section-heading">
        clients.
      </h2>
      <ul class="clients__list">
        <li class="clients__item">cosmopolitan.</li>
        <li class="clients__item">elle.</li>
        <li class="clients__item">l’officiel.</li>
        <li class="clients__item">bazar.</li>
        <li class="clients__item">dorcel.</li>
        <li class="clients__item">star media.</li>
        <li class="clients__item">marie clarie.</li>
        <li class="clients__item">snb news.</li>
        <li class="clients__item">bazaar.</li>
      </ul>
    </div>
  </div>
</section>
