<section class="collections">
  <div class="collections__container">
    <h2 class="collections__title section-heading">collections.</h2>
    <div class="collections__content">
      <article class="collections__item">
        <h3 class="collections__naming">spring.</h3>
        <button class="btn btn-md">see all</button>
      </article>
      <article class="collections__item">
        <h3 class="collections__naming">wedding.</h3>
        <button class="btn btn-md">see all</button>
      </article>
      <article class="collections__item">
        <h3 class="collections__naming">casual.</h3>
        <button class="btn btn-md">see all</button>
      </article>
      <article class="collections__item">
        <h3 class="collections__naming">safari.</h3>
        <button class="btn btn-md">see all</button>
      </article>
    </div>
  </div>
</section>
