<footer class="footer">
  <div class="footer__container">
    <ul class="footer__contacts">
      <li class="footer__item">
        <h3>call us</h3>
        <a href="#">+1 (999) 999-9999</a>
        <a href="#">+1 (999) 499-9496</a>
      </li>
      <li class="footer__item">
        <h3>visit us</h3>
        <a href="#">32 HOMESTEAD AVE MIDDLETOWN NY 10941-1012 USA</a>
      </li>
      <li class="footer__item">
        <h3>social</h3>
        <a href="#">instagram</a>
        <a href="#">facebook</a>
        <a href="#">twitter</a>
      </li>
      <li class="footer__item">
        <h3>e-mail</h3>
        <a href="#">miatelier@chcial.com</a>
        <a href="#">micommerc@chcial.com</a>
      </li>
    </ul>
    <div class="footer__signs">
      <a href="#path-to-page">
        <svg>
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>
      <svg>
        <use xlink:href="img/sprite.svg#LTD"></use>
      </svg>
      <svg>
        <use xlink:href="img/sprite.svg#NY"></use>
      </svg>
    </div>
    <div class="footer__info">
      <ul class="footer__info-list">
        <li class="footer__info-item">
          <p>mi atelier 2012 ©</p>
        </li>
        <li
          class="footer__info-item"
          data-spoiler>
          <button aria-expanded="false">
            <span class="spoiler__title">menu</span>
            <span class="spoiler__btn"></span>
          </button>
          <ul
            data-footer-menu
            class="spoiler__content" aria-hidden="true">
            <li>
              <a
                href="#"
                data-target=".about"
                >about</a
              >
            </li>
            <li>
              <a
                href="#"
                data-target=".services"
                >services</a
              >
            </li>
            <li>
              <a
                href="#"
                data-target=".lookbook"
                >lookbook</a
              >
            </li>
            <li>
              <a
                href="#"
                data-target=".process"
                >process</a
              >
            </li>
            <li>
              <a
                href="#"
                data-target=".collections"
                >collections</a
              >
            </li>
          </ul>
        </li>
        <li
          class="footer__info-item"
          data-spoiler>
          <button aria-expanded="false">
            <span class="spoiler__title">partnership</span>
            <span class="spoiler__btn"></span>
          </button>
          <ul class="spoiler__content" aria-hidden="true">
            <a href="#">
              <li>franchise</li>
            </a>
            <a href="#">
              <li>collaboration</li>
            </a>
            <a href="#">
              <li>licenses</li>
            </a>
            <a href="#">
              <li>certificates</li>
            </a>
          </ul>
        </li>
        <li
          class="footer__info-item"
          data-spoiler>
          <button aria-expanded="false">
            <span class="spoiler__title">contanct</span>
            <span class="spoiler__btn"></span>
          </button>
          <div class="spoiler__content" aria-hidden="true">
            <a href="#">32 HOMESTEAD AVE MIDDLETOWN NY 10941-1012, USA</a>
            <a href="#">+1 (999) 999-9999</a>
            <a href="#">+1 (999) 499-9496</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
