<section class="form">
  <div class="form__container">
    <h2 class="form__title section-heading">get in touch.</h2>
  </div>
  <div class="form__content">
    <div class="form__bgcImg" aria-hidden="true"></div>
    <div class="form__content-container">
      <form
        action="#"
        class="form__form">
        <h3 class="form__naming">Book an onsite fitting</h3>
        <label class="form__input-wrapper">
          <input
          type="text"
          class="form__input" />
          <span>name</span>
        </label>
        <label class="form__input-wrapper">
          <input
          type="tel"
          class="form__input" />
          <span>phone</span>
        </label>
        <label class="form__input-wrapper">
          <input
          type="email"
          class="form__input" />
          <span>adress</span>
        </label>
        <button class="btn btn-md">book a fitting</button>
      </form>
    </div>
  </div>
</section>
