<section class="lookbook">
  <div class="lookbook__container">
    <h2 class="lookbook__title section-heading">lookbook.</h2>
    <ul class="lookbook__list">
      <li class="lookbook__item">
        <div class="lookbook__thumb">
          <picture>
            <source
              srcset="img/look-1.webp"
              type="image/webp" />
            <img
              class="image"
              src="img/look-1.jpg"
              alt="Preview thumb"
              loading="lazy" />
          </picture>
        </div>
        <p class="lookbook__name">Fhh journal.</p>
        <span class="lookbook__year">2022</span>
      </li>
      <li class="lookbook__item">
        <div class="lookbook__thumb">
          <picture>
            <source
              srcset="img/look-3.webp"
              type="image/webp" />
            <img
              class="image"
              src="img/look-3.jpg"
              alt="Preview thumb"
              loading="lazy" />
          </picture>
        </div>
        <p class="lookbook__name">rouge noar.</p>
        <span class="lookbook__year">2019</span>
      </li>
      <li class="lookbook__item">
        <div class="lookbook__thumb">
          <picture>
            <source
              srcset="img/look-4.webp"
              type="image/webp" />
            <img
              class="image"
              src="img/look-4.jpg"
              alt="Preview thumb"
              loading="lazy" />
          </picture>
        </div>
        <p class="lookbook__name">maria loo.</p>
        <span class="lookbook__year">2022</span>
      </li>
      <li class="lookbook__item">
        <div class="lookbook__thumb">
          <picture>
            <source
              srcset="img/look-5.webp"
              type="image/webp" />
            <img
              class="image"
              src="img/look-5.jpg"
              alt="Preview thumb"
              loading="lazy" />
          </picture>
        </div>
        <p class="lookbook__name">haboold.</p>
        <span class="lookbook__year">2021</span>
      </li>
      <li class="lookbook__item">
        <div class="lookbook__thumb">
          <picture>
            <source
              srcset="img/look-6.webp"
              type="image/webp" />
            <img
              class="image"
              src="img/look-6.jpg"
              alt="Preview thumb"
              loading="lazy" />
          </picture>
        </div>
        <p class="lookbook__name">nina glam.</p>
        <span class="lookbook__year">2020</span>
      </li>
      <li class="lookbook__item">
        <div class="lookbook__thumb">
          <picture>
            <source
              srcset="img/look-7.webp"
              type="image/webp" />
            <img
              class="image"
              src="img/look-7.jpg"
              alt="Preview thumb"
              loading="lazy" />
          </picture>
        </div>
        <p class="lookbook__name">jim callingthor.</p>
        <span class="lookbook__year">2022</span>
      </li>
      <li class="lookbook__item">
        <div class="lookbook__thumb">
          <picture>
            <source
              srcset="img/look-8.webp"
              type="image/webp" />
            <img
              class="image"
              src="img/look-8.jpg"
              alt="Preview thumb"
              loading="lazy" />
          </picture>
        </div>
        <p class="lookbook__name">larry & luna.</p>
        <span class="lookbook__year">2021</span>
      </li>
    </ul>
  </div>
</section>
