<section class="owner">
  <div class="owner__container">
    <div class="owner__card">
      <div class="owner__img owner-1"></div>
      <span class="owner__name">miranda.</span>
    </div>
    <div class="owner__card ">
      <div class="owner__img owner-2"></div>
      <p class="owner__desc">I am inspired by</br> fashion, life</br>
        and people.</p>
      <p class="owner__desc">I'm used to</br> creating </br>in unison with my</br> clients.</p>
      <div class="owner__logo">
        <img src="img/logo.svg" alt="Mi Atelier logo">
      </div>
      <span class="owner__name">landber.</span>
    </div>
  </div>
</section>
