<section class="process">
  <h2 class="process__title section-heading">process</h2>
  <ul class="process__list">
    <li class="process__item">
      <div class="process__container">
        <span class="process__step">first step</span>
        <span class="process__term">one day</span>
        <p class="process__desc">
          at the first meeting We listen to all your wishes visualize sketches and offer options,
          discuss and select fabric and accessories. We take measurements and create a sketch with
          details
        </p>
      </div>
    </li>
    <li class="process__item">
      <div class="process__container">
        <span class="process__step">second step</span>
        <span class="process__term">three days</span>
        <p class="process__desc">
          at the second meeting, we will present you with various models, study your figure and
          proportions, discuss details, accessories, and then we make a miscalculation of materials,
          order them and make patterns
        </p>
      </div>
    </li>
    <li class="process__item">
      <div class="process__container">
        <span class="process__step">third step</span>
        <span class="process__term">one week</span>
        <p class="process__desc">
          at the third meeting, the first fitting and fitting of the product to the figure takes
          place; we discuss your impressions and wishes after approval, we transfer the product to
          the technologist for sewing
        </p>
      </div>
    </li>
    <li class="process__item">
      <div class="process__container">
        <span class="process__step">fourth step</span>
        <span class="process__term">one day</span>
        <p class="process__desc">
          at the final meeting, we try on the finished product and if everything suits you, you take
          the item; if there are any comments, we leave the product for another 1-2 days for
          revision
        </p>
      </div>
    </li>
  </ul>
</section>
