<section class="reviews">
  <div class="reviews__container">
    <h2 class="reviews__title section-heading">reviews.</h2>
    <div class="reviews__content">
      <div class="reviews__controls">
        <button data-prev>
          <svg width="122" height="62">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button data-next>
          <svg width="122" height="62">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="reviews__slider" data-slider>
        <ul class="reviews__list">
          <li class="reviews__item">
            <span>landerglam company</span>
            <p>
              Our organization required urgent sewing of clothing in bulk, it was a management
              requirement for the appearance of all employees. They fulfilled our order very quickly,
              everything was well sewn, the clothes fit perfectly on each of our employees. We will be
              contacting them again.
            </p>
          </li>
          <li class="reviews__item">
            <span>StellarStitch Clothing Co.</span>
            <p>
              We were in a tight spot with a last-minute order for custom embroidered uniforms for our
              staff. The team at this company came through for us in a big way. They not only
              delivered the uniforms ahead of schedule but also ensured that each one was impeccably
              embroidered. Our employees were thrilled with the fit and quality. We're definitely
              making them our go-to for all our future uniform needs!
            </p>
          </li>
          <li class="reviews__item">
            <span>PromoPros Merchandise Solutions</span>
            <p>
              When our company needed a rush order of customized promotional merchandise for an
              upcoming event, we turned to this company, and they exceeded our expectations. They
              worked diligently to ensure our products were ready in record time, and the quality was
              top-notch. Our clients loved the attention to detail, and everything looked fantastic.
              We'll definitely be working with them again for our future promotional needs.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
