<section class="services">
  <div class="services__container">
    <h2 class="services__title section-heading">services</h2>
    <div class="services__options">
      <div class="option">
        <div
          class="option__img img-1"
          aria-hidden="true"></div>
        <p class="option__desc">designer men's suits handmade premium class</p>
        <a
          href="#"
          class="option__link"
          >more</a
        >
      </div>
      <div class="option option__lg">
        <div
          class="option__img img-2"
          aria-hidden="true"></div>
        <p class="option__desc">sewing wedding dresses from sketch to celebration</p>
        <a
          href="#"
          class="option__link"
          >more</a
        >
      </div>
      <div class="option">
        <div
          class="option__img img-3"
          aria-hidden="true"></div>
        <p class="option__desc">selection of image and tailoring for celebrations or certain events</p>
        <a
          href="#"
          class="option__link"
          >more</a
        >
      </div>
      <div class="option row">
        <div
          class="option__img img-4"
          aria-hidden="true"></div>
        <p class="option__desc">tailoring of outerwear with leather, fur, wool and other types
          of fabric</p>
        <a
          href="#"
          class="option__link"
          >more</a
        >
      </div>
      <div class="option row">
        <div
          class="option__img img-5"
          aria-hidden="true"></div>
        <p class="option__desc">tailoring cocktail dresses</p>
        <a
          href="#"
          class="option__link"
          >more</a
        >
      </div>
      <div class="option row">
        <div
          class="option__img img-6"
          aria-hidden="true"></div>
        <p class="option__desc">clothing repair and restoration</p>
        <a
          href="#"
          class="option__link"
          >more</a
        >
      </div>
      <div class="option option__lg">
        <div
          class="option__img img-7"
          aria-hidden="true"></div>
        <p class="option__desc">family look creating an image and tailoring  for the whole family and
          a photo shoot from our studio</p>
        <a
          href="#"
          class="option__link"
          >more</a
        >
      </div>
      <div class="option">
        <div
          class="option__img img-8"
          aria-hidden="true"></div>
        <p class="option__desc">sewing basic everyday clothes</p>
        <a
          href="#"
          class="option__link"
          >more</a
        >
      </div>
    </div>
  </div>
</section>
