// Body
body {
  background-color: var(--seconderyColor);
  font-family: $fontPrimary, sans-serif;
  font-weight: 500;
}

// Container
[class*="container"] {
  width: 100%;
  max-width: ($containerWidth + $containerSafePadding) + px;
  padding: 0 $containerInlinePadding + px;
  margin: 0 auto;

  @media (max-width: $breakpoint1450) {
    max-width: 1360px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Wrapper & Main css's classes press the footer to the page bottom, main element grows the whole available space of page
// Wrapper & Main css's прижимают футер к низу страницы, елемент main растягивается на все доступное пространство страницы
.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.dis-scroll {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  overscroll-behavior: none;
}

h1 {
  color: var(--primaryColor);
  font-size: between(60px, 160px, $breakpoint480, $breakpoint992);
  letter-spacing: -15.2px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: $breakpoint992)  {
    letter-spacing: -10.2px;
  };

  @media screen and (max-width: $breakpoint768)  {
    letter-spacing: -5.2px;
  };
}

.section-heading {
  border-top: 1px solid var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  margin-bottom: between(50px, 100px);
  color: var(--primaryColor);
  font-size: between(37.5px, 125px);
  letter-spacing: -7.5px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: $breakpoint768) {
    letter-spacing: -3.5px;
  };

  @media screen and (max-width: $breakpoint480) {
    letter-spacing: -1.5px;
  };
}

.desc {
  color: var(--primaryColor);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.75px;
  line-height: normal;
  text-transform: uppercase;
}

.btn {
  @include resetBtn;

  border: 1px solid white;
  border-radius: 40px;
  backdrop-filter: blur(15px);
  background: rgb(227 227 227 / 20%);
  color: white;
  font-size: between(14px, 20px);
  text-transform: uppercase;
  transition: scale .3s ease, box-shadow .3s ease;

  &:hover {
    box-shadow: 0 0 15px 2px rgb(255 255 255 / 75%);
    scale: 1.03;
  }
}

.btn-md {
  padding: between(8.1px, 27px) between(57.6px, 192px);
}

.btn-lg {
  padding: between(9.3px, 31px) between(78px, 260px);
}
