@use 'sass:math';

:root {
  --primaryColor: #F81808;
  --seconderyColor: #E0D9D3;
  --thirdColor: #F81808;
  --fourthColor: white;

  @media (prefers-color-scheme: dark) {
    --primaryColor: #F81808;
    --seconderyColor: #1C1815;
    --thirdColor: white;
    --fourthColor: #F81808;
  }
}

// Container & Breakpoints
$containerWidth: 1320;
$containerSafePadding: 40;
$containerInlinePadding: math.div($containerSafePadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger
$burgerBreakPoint: $breakpoint992;

// Font families
$fontPrimary: inter

// Тут должны быть объявлены переменные для шрифтов и изменения их размера при медиа-запросах


